@use "../variables" as v;
@use "../mixins" as m;
@use "../pixel" as pb;

.hp-bar-wrap {
  width: 100%;
  @include pb.pixel-borders(
    $corner-size: 1,
    $border-size: 2px,
    $border-color: v.$color-border
  );
  background-color: #e8d5c0;
  overflow: hidden;

  @include m.mobile {
    height: m.vw(32);
  }
  @include m.desktop {
    height: 32px;
  }
}

.hp-bar-fill {
  height: 100%;
  background-color: v.$color-primary;
  box-shadow:
    inset 0 2px #fff,
    inset 0 -2px #fff,
    inset -2px 0 #fff,
    inset 2px 0 #fff;
  transition:
    width 0.2s ease,
    background-color 0.3s ease;

  &--danger {
    background-color: v.$color-danger;
    animation: hp-danger-pulse 0.8s ease-in-out infinite;
  }
  &--warning {
    background-color: #e5c007;
  }
  &--safe {
    background-color: #00c000;
  }
}

@keyframes hp-danger-pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.55;
  }
}

.hp-bar-label {
  font-family: v.$font-pixel;
  color: v.$color-text;
  font-weight: bold;
  text-align: left;

  @include m.mobile {
    font-size: m.vw(16);
  }
  @include m.desktop {
    font-size: 16px;
  }
}
