@use "base";
@use "components/button";
@use "components/input";
@use "components/box";
@use "components/hpbar";
@use "components/order";
@use "components/burger";
@use "components/ingame";
@use "components/pages";
